<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('<%= asset_path 'if-we-lose-our-phone-we-lose-our-phone-books-ellen-degeneres.jpg' %>');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('<%= asset_path 'lost-phone-1.jpg' %>');"></div>
      <div class="carousel-caption carousel-caption-center">
        <h2>If you lost your phone would you remember your friends' or family's phone numbers?</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('<%= asset_path 'with-phone-1.jpg' %>');"></div>
      <div class="carousel-caption carousel-caption-center">
        <h2>Do you remember any phone numbers by heart?</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Welcome to 1800HelpMe
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <i class="fa fa-fw fa-check"></i> We're there when you need us
          </h4>
        </div>
        <div class="panel-body">
          <p>We'll always answer. All day and night, 365 days of the year. Call us to get your emergency contacts. Our service is personally customized for you. Our virtual operator knows how to recognize you by voice, and can respond to your requests.</p>
          <%= link_to 'Learn More', page_path(:about), class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <i class="fa fa-fw fa-gift"></i> Free to try, cheap to keep
          </h4>
        </div>
        <div class="panel-body">
          <p>Give our virtual operator a call now and see how 1800HelpMe can help you feel confident that you'll never forget a number when you most need it. Use our easy setup guide and try our service for free.</p>
          <%= link_to 'Learn More', page_path(:about), class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <i class="fa fa-fw fa-compass"></i> Easy to use
          </h4>
        </div>
        <div class="panel-body">
          <p>Whether you're at a pay phone, under low reception, or borrowing a kind stranger's phone, just call our easy to remember number 1800HelpMe. You only have to state your name and birthday to access any contact in your address book. Just say their name or nickname and we'll find them for you, read you their number or connect you directly.</p>
          <%= link_to 'Learn More', page_path(:about), class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Cutting Edge Tech</h2>
    </div>
    <div class="col-md-6">
      <p>1800HelpMe is powered by a synergy of 20th and 21st century technologies giving you access to your contacts in the cloud through the classic telephone system.</p>
      <ul>
        <li>
          <strong>AI Powered Voice Recognition</strong>
        </li>
        <li>Voice Identity Match</li>
        <li>Address Book Search by Voice</li>
        <li>Use any Phone, Landline or Mobile</li>
        <li>Address Book Synchronization</li>
      </ul>
      <p>Never get stranded away from home without someone to call again. With 1800HelpMe you'll always be able to reach for the closest telephone and connect directly to the person you need.</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="<%= asset_path 'phone-on-bench-1.jpg' %>" alt="Phone on bench">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <%= render partial: 'elements/call_to_action' %>

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
  $(document).on('ready', function () {
    $('.carousel').carousel({
      interval: 7000 //changes the speed
    })
  });
</script>